## gitignore documentation: https://www.atlassian.com/git/tutorials/saving-changes/gitignore

## ignore the following:
**/logs
old_scripts/
.snakemake/
refs/
images/
*.pdf
*.svg
.*
*version*
*build*
config/
results/
workflow/report/

## don't ignore the following
!.gitignore
!config/*.sample.*
!config/pgPEN_index/*
test.py
