## gitignore documentation: https://www.atlassian.com/git/tutorials/saving-changes/gitignore

## ignore the following:
**/logs
old_scripts/
.snakemake/
refs/
images/
*.pdf
*.svg
.*
*version*
*build*
config/
results/
workflow/report/
input/fastqs/*

## don't ignore the following
!.gitignore
!config/*.sample.*
!config/pgPEN_index/*
!input/fastqs/README.txt
!results/expected_tutorial_output/expected_pgMAP_tutorial_pgRNA_counts.txt
