## gitignore documentation: https://www.atlassian.com/git/tutorials/saving-changes/gitignore

## ignore the following:
**/logs
old_scripts/
.snakemake/
refs/
images/
*.pdf
*.svg
.*
*version*
*build*
config/barcode_ref_file.txt
config/config.yaml
config/fastqs.fofn
results/
workflow/report/
input/fastqs/README.txt

## don't ignore the following
!.gitignore
!config/*.sample.*
test.py
